
  <h2><%= l(:text_status_p) %></h2>

  <table class="list">
   <thead>
    <tr>
       <th><%= l(:text_role) %></th>
       <th><%= l(:start_status) %></th>
       <th><%= l(:pause_status) %></th>
       <th><%= l(:end_status) %></th>
       <th><%= l(:text_permissions) %></th>
    </tr>
   </thead>
   <tbody>
      <% @result.each do |role_id, data| %>
        <tr class="<%= cycle("odd", "even") %>">
         <td><%= data[:name] %></td>
  	     <td><%= data[:statuses][:start].collect{|d| d[:name]}.join(', ') %></td>
         <td><%= data[:statuses][:pause].collect{|d| d[:name]}.join(', ') %></td>
         <td><%= data[:statuses][:close].collect{|d| d[:name]}.join(', ') %></td>
         <td><%= link_to '<span class="icon icon-edit">'.html_safe+l(:text_edit), :controller => :tee_prs, :action => :index, :role_id => role_id, :project_id => @project.id %></td>
        </tr>
      <% end %>
   </tbody>
  </table>

<div class="content" style="margin-top:20px;"> 
  <div class="contextual">
    <%= link_to '<span class="icon icon-add">'.html_safe+l(:text_link_add), :controller => :tee_timetables, :action => :index, :project_id => @project.id %>
  </div>
  <h2><%= l(:text_timetable_p) %></h2> 
  <table class="list">
   <thead>
    <tr>
       <th><%= l(:text_name) %></th>
       <th><%= l(:start_date) %></th>
       <th><%= l(:end_date) %></th>
       <th><%= l(:text_role) %></th>
       <th><%= l(:text_permissions) %></th>
    </tr>
   </thead>
   <tbody>
        <% @timetables.each do |timetable| %>
           <tr class="<%= cycle("odd", "even") %>">
             <td><%= timetable.name.capitalize %></td>
             <td><%= timetable.start_date.strftime("%d-%m-%Y") %></td>
             <td><%= timetable.end_date.strftime("%d-%m-%Y") %></td>
             <td>
              <%= timetable.roles.collect{|rol| rol[:name]}.join(', ') %>
             </td>
             <td>
                <%= link_to '<span class="icon icon-edit">'.html_safe+l(:text_edit), edit_tee_timetable_path(timetable, :project_id => @project.id) %>

                <%= link_to '<span class="icon icon-del">'.html_safe+l(:text_delete), tee_timetable_path(timetable, :project_id => @project.id), :confirm => l(:confirm_delete), :method => :delete %>
             </td>
          </tr>
        <% end %>
   </tbody>
  </table>
</div>

<div class="content" style="margin-top:20px;"> 
  <h2>Calendario</h2>

  <table class="list">
   <thead>
    <tr>
       <th>Nombre</th>
       <th colspan="5">Perfiles</th><th></th><th></th><th></th><th></th><th></th>
       <th>Permisos</th>

    </tr>
   </thead>
   <tbody>
      <tr class="<%= cycle("odd", "even") %>">
        <td>España</td>
        <td colspan="5">Todos</td></td><td></td><td></td><td></td><td></td><td></td>
        <td>
          <%= link_to '<span class="icon icon-edit">'.html_safe+l(:text_edit), tee_holidays_path(:project_id => @project.id) %>
          <%= link_to '<span class="icon icon-del">'.html_safe+l(:text_delete), tee_holidays_path(:project_id => @project.id) %>
        </td>
      </tr>
      <tr class="<%= cycle("odd", "even") %>">
        <td>Jaén</td>
        <td colspan="5">Perfil 1</td></td><td></td><td></td><td></td><td></td><td></td>
        <td>
          <%= link_to '<span class="icon icon-edit">'.html_safe+l(:text_edit), tee_holidays_path(:project_id => @project.id) %>
          <%= link_to '<span class="icon icon-del">'.html_safe+l(:text_delete), tee_holidays_path(:project_id => @project.id) %>
        </td>
      </tr>
      <tr class="<%= cycle("odd", "even") %>">
        <td>Granada</td>
        <td colspan="5">Perfil 2</td></td><td></td><td></td><td></td><td></td><td></td>
        <td>
          <%= link_to '<span class="icon icon-edit">'.html_safe+l(:text_edit), tee_holidays_path(:project_id => @project.id) %>
          <%= link_to '<span class="icon icon-del">'.html_safe+l(:text_delete), tee_holidays_path(:project_id => @project.id) %>
        </td>
      </tr>
      <tr class="<%= cycle("odd", "even") %>">
        <td>Sevilla</td>
        <td colspan="5">Perfil 3</td></td><td></td><td></td><td></td><td></td><td></td>
        <td>
          <%= link_to '<span class="icon icon-edit">'.html_safe+l(:text_edit), tee_holidays_path(:project_id => @project.id) %>
          <%= link_to '<span class="icon icon-del">'.html_safe+l(:text_delete), tee_holidays_path(:project_id => @project.id) %>
        </td>
      </tr>

   <tbody>
  </table>


</div>