
  <h2><%= l(:text_status_p) %></h2>

  <table class="list">
   <thead>
    <tr>
       <th><%= l(:text_rol) %></th>
       <th><%= l(:start_status) %></th>
       <th><%= l(:pause_status) %></th>
       <th><%= l(:end_status) %></th>
       <th>Permisos</th>
    </tr>
   </thead>
   <tbody>
   	<%# @roles.each do |rol| %>
  	  
      <% @result.each do |role, status| %>
        <tr class="<%= cycle("odd", "even") %>">
         <td><%= role %></td>
  	     <td><%= status[:start].join(', ') %></td>
         <td><%= status[:pause].join(', ') %></td>
         <td><%= status[:close].join(', ') %></td>

         
         <td><span class="icon icon-edit"><%= link_to l(:text_edit), :controller => :tee_prs, :action => :index %></td>
        </tr>

      <% end %>
   </tbody>
  </table>



  <b><%= l(:text_calendar_p) %></b> 
    <div class="contextual">
      <span class="icon icon-add"><%= link_to l(:text_link_add), :controller => :tee_timetables, :action => :index %>
    </div>

  <table class="list">
   <thead>
    <tr>
       <th><%= l(:start_date) %></th>
       <th><%= l(:end_date) %></th>
       <th><%= l(:text_profile) %></th>
       <th>Permisos</th>
    </tr>
   </thead>
   <tbody>
    <tr>
       <td>-</td>
       <td>-</td>
       <td>Todos</td>
       <td><span class="icon icon-edit"> Editar</td>
    </tr>
    <tr>
       <td>20/12/2015</td>
       <td>07/01/2016</td>
       <td>Perfil 1, Perfil 2</td>
       <td><span class="icon icon-edit"> Editar</td>
    </tr>
   </tbody>
  </table>
