
  <h2><%= l(:"status.statuses") %></h2>

  <table class="list">
   <thead>
    <tr>
       <th><%= l(:text_role) %></th>
       <!--<th><%# l(:"status.start_status") %></th> -->
       <th><%= l(:"status.pause_status") %></th>
       <th><%= l(:"status.end_status") %></th>
       <th><%= l(:text_permissions) %></th>
    </tr>
   </thead>
   <tbody>
      <% @result.each do |role_id, data| %>
        <tr class="<%= cycle("odd", "even") %>">
         <td><%= data[:name] %></td>
  	     <!--<td><%# data[:statuses][:start].collect{|d| d[:name]}.join(', ') %></td> -->
         <td><%= data[:statuses][:pause].collect{|d| d[:name]}.join(', ') %></td>
         <td><%= data[:statuses][:close].collect{|d| d[:name]}.join(', ') %></td>
         <td><%= link_to '<span class="icon icon-edit">'.html_safe+l(:text_edit), :controller => :tee_prs, :action => :index, :role_id => role_id, :project_id => @project %></td>
        </tr>
      <% end %>
   </tbody>
  </table>

<div class="content" style="margin-top:20px; float: left; width: 60%; margin-right:5%"> 
  <div class="contextual">
    <%= link_to '<span class="icon icon-add">'.html_safe+l(:"timetable.new_timetable"), :controller => :tee_timetables, :action => :index, :project_id => @project %>
  </div>
  <h2><%= l(:"timetable.timetables") %></h2> 
  <table class="list">
   <thead>
    <tr>
       <th><%= l(:text_name) %></th>
       <th><%= l(:"timetable.start_date") %></th>
       <th><%= l(:"timetable.end_date") %></th>
       <th><%= l(:text_roles) %></th>
       <th><%= l(:text_permissions) %></th>
    </tr>
   </thead>
   <tbody>
        <% @timetables.each do |timetable| %>
           <tr class="<%= cycle("odd", "even") %>">
             <td><%= timetable.name.capitalize %></td>
             <td><%= timetable.start_date.nil? ? "" : timetable.start_date.strftime("%d-%m-%Y") %></td>
             <td><%= timetable.end_date.nil? ? "" : timetable.end_date.strftime("%d-%m-%Y") %></td>
             <td>
              <%= timetable.roles.collect{|rol| rol[:name]}.join(', ') %>
             </td>
             <td>
                <%= link_to '<span class="icon icon-edit">'.html_safe+l(:text_edit), edit_project_tee_timetable_path(timetable, :project_id => @project) %>

                <%= link_to '<span class="icon icon-del">'.html_safe+l(:text_delete), project_tee_timetable_path(timetable, :project_id => @project), :confirm => l(:"timetable.delete_timetable"), :method => :delete %>
             </td>
          </tr>
        <% end %>
   </tbody>
  </table>
</div>

<div class="content" style="margin-top:20px;"> 
  <div class="contextual">
    <%= link_to '<span class="icon icon-add">'.html_safe+"Nuevo calendario", project_tee_holidays_path(:project_id => @project) %>
  </div>
  <h2><%= l(:"holiday.holidays") %></h2>

  <table class="list" style="width: 35%">
   <thead>
    <tr>
       <th><%= l(:text_name) %></th>
       <th><%= l(:text_roles) %></th>
       <th><%= l(:text_permissions) %></th>

    </tr>
   </thead>
   <tbody>
      <% @holidays.each do |holiday| %>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= holiday.name %></td>
          <td><%= holiday.roles.collect{|rol| rol[:name]}.join(', ') %></td>
          <td>
            <%= link_to '<span class="icon icon-edit">'.html_safe+l(:text_edit), edit_project_tee_holiday_path(holiday, :project_id => @project) %>
            <%= link_to '<span class="icon icon-del">'.html_safe+l(:text_delete), project_tee_holiday_path(holiday, :project_id => @project), :confirm => l(:"holiday.delete_holiday"), :method => :delete %>
          </td>
        </tr>
      <% end %>

   <tbody>
  </table>


</div>