<%= csrf_meta_tag %>
<% content_for :header_tags do %>
  <%= javascript_include_tag "tee_timetable_journals.js", :plugin => 'tiempo_entre_estados' %>
<% end %>

<h2> <%= l(:"timetable.timetable") %></h2>

<div class="timetable timetable_form">
	<%= form_for [@project, @timetable] do |f| %>
	<%= f.hidden_field :project_id, :value => @project.id %>
	<div class="splitcontentleft" style="width: 300px; margin-top: -13px;">
			<p><%= f.check_box :default, :class =>"timetable_default" %> <%= l(:"timetable.default") %></p>
		  	<p>
		  	  <div><%= f.label l(:text_name)+": " , {class: "width: 200px"} %></div>
		  	  <%= f.text_field(:name, :size => 30) %>
		  	</p>
		  	
			<p>
			  <div><%= f.label l(:"timetable.start_date")+": " , {class: "width: 200px"} %></div>
			  <%= f.text_field(:start_date, :size => 8, :value => @timetable.start_date.nil? ? "" : @timetable.start_date.strftime("%d-%m-%Y")) %>
			  <%= calendar_for_es('tee_timetable_start_date')%>
			</p>
			<p>
			  <div><%= f.label l(:"timetable.end_date")+": " , {class: "width: 200px"}%></div>	
			  <%= f.text_field(:end_date, :size => 8, :value => @timetable.end_date.nil? ? "" : @timetable.end_date.strftime("%d-%m-%Y")) %>
			  <%= calendar_for_es('tee_timetable_end_date')%>
			</p>
			
	</div>

	<div >
		<div><%=l(:text_roles)+": "%></div>
		<%= select_tag 'roles', options_for_select(@roles, :selected => @rolestimetable), {:multiple => true, :size => 8, style: "width:175px; margin-right: 70px;"} %>
		
	</div>

	<table class="list">
	 <thead>
	  <tr>
	     <th></th>
	     <th><%= l(:"timetable.start_time") %></th>
	     <th><%= l(:"timetable.end_time") %></th>
	     <th><%= l(:"timetable.workable") %></th>
	  </tr>
	 </thead>
	 <tbody>
	 	<% @weeks.each_with_index do |week, i| %>
			<%= f.fields_for :journals, @journals[i] do |j| %>
			  <tr class="<%= cycle("odd", "even") %>">
			  	 <td><%= l(("timetable."+week[:name].to_s).to_sym) %></td>
			  	 <%= j.hidden_field :week_day, :value => week[:id] %>
			  	<% if @journals[i]["workable"] == nil || @journals[i]["workable"] == true%>
				     <td><%= j.datetime_select :start_time, :discard_year => true, :discard_month => true, :default => {:hour => 0, :minute => 0}, :minute_step => 15%></td>
				     <td><%= j.datetime_select :end_time, :discard_year => true, :discard_month => true, :default => {:hour => 0, :minute => 0}, :minute_step => 15 %></td>
				     <td><%= j.check_box :workable, :id => i, :checked => true, :class =>"workable" %></td>
			    <% elsif @journals[i]["workable"] == false %>
				     <td><%= j.datetime_select :start_time, :discard_year => true, :discard_month => true, :default => {:hour => 0, :minute => 0}, :minute_step => 15, :disabled => true%></td>
				     <td><%= j.datetime_select :end_time, :discard_year => true, :discard_month => true, :default => {:hour => 0, :minute => 0}, :minute_step => 15, :disabled => true %></td>
				     <td><%= j.check_box :workable, :id => i, :checked => false, :class =>"workable" %></td>
			    <% end %>
			  </tr>
			<% end %>
		  
		<% end %>
	 </tbody>
	</table>

	<%= f.submit l(:text_save), style: "float: left;" %>
	<% end %>
	<%= button_to l(:text_back), project_tee_home_path(:project_id => @project), style: "margin-left: 5px;", :method => :get %>
</div>