<h4> Estados de perfil de <%= @user.login %></h4>

<p>
	<%= l(:start_status_p) %>
	<%= select_tag 'user_id', options_for_select(@statuses) %>
</p>
<p>
	<%= l(:end_status_p) %>
	<%= select_tag 'user_id', options_for_select(@statuses) %>
</p>