<h2> Estados de perfil de '<%= @role.name %>'</h2>
<%= form_for :tee_prs do |f| %>
<%= hidden_field_tag :project_id, @project %>
<%= hidden_field_tag :role_id, @role.id %>
<table>
	<tbody>
		<tr>
			<!--
			<td>
				<table class="query-columns">
					<tbody>
						<tr>
							<td style:"padding-left:0">
								<label for="available_columns"><%# l(:"status.start_statuses") %></label><br>
								<%# select_tag 'start', options_for_select(@statuses, @start), {:multiple => true, :size => 10, style: "width:150px; margin-right: 20px;"} %>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
			-->
			<td>
				<table class="query-columns">
					<tbody>
						<tr>
							<td style:"padding-left:0">
								<label for="available_columns"><%= l(:"status.pause_statuses") %></label><br>
								<%= select_tag 'pause', options_for_select(@statuses, @pause), {:multiple => true, :size => 10, style: "width:150px; margin-right: 20px;"} %>
							</td>
						</tr>
					</tbody>
				</table>
			</td>

			<td>
				<table class="query-columns">
					<tbody>
						<tr>
							<td style:"padding-left:0">
								<label for="available_columns"><%= l(:"status.end_statuses") %></label><br>
								<%= select_tag 'close', options_for_select(@statuses, @close), {:multiple => true, :size => 10, style: "width:150px; margin-right: 20px;"} %>
							</td>
						</tr>
					</tbody>
				</table>
			</td>





		</tr>
	</tbody>
</table>

<%= f.submit "Guardar", style: "float: left;" %>
<% end %>

<%= button_to "Volver", project_tee_home_path(:project_id => @project), style: "margin-left: 5px;", :method => :get %>